.logo {
  border-radius: 50%;
  padding-top: 0px;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 60px; 
  left: 20px; 
  z-index: 9999; 
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 10px 10px 15px 5px black;
}
.menu {
  font-family: Arial, Helvetica, sans-serif;

  width: 200px;
  background: linear-gradient(to left bottom, #43cea2, #185a9d);
  color: #fff;
  padding: 14px;
  position: fixed;
  top: 102px;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
}

.header {
  position: fixed;
  height: 102px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Asegura que esté por delante de otros elementos */
  background: linear-gradient(to top left, #43cea2, #185a9d);
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.greeting {
 
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 600px;
  padding-left: 250px;
  display: inline-block;
  text-align: left;
  text-shadow: 4px 4px 10px black;
}

/* Estilos para el margen superior del contenido principal para dejar espacio para el encabezado */
.content {
  margin-top: 120px; /* Ajusta la altura del encabezado más un margen */
}
/* Estilos de los elementos del menú */
.menu__item {
  padding: 18px;
  cursor: pointer;
  border-radius:10px;
  transition: background-color 0.3s;
}

.menu__item:hover {
  background: linear-gradient(to top left, #01081d, #185a9d);
  /* background-color:#01081d; */
}

/* Estilos para resaltar el elemento "Inicio" como activo (se puede usar una clase adicional para esto) */
.menu__item--active {
  background-color: #43cea2;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color:#ffffff;
  text-decoration: none;
}

/*---------------------------------------------------------- Body ------------------------------------------------------------- */
.container__body {
  position: fixed;
  top: 102px;
  left: 205px;

  width: 100%;
  height: 100%;
  background: linear-gradient(to top left, #43cea2, #185a9d);

  position: fixed;
}

.container__form {
  position: fixed;
  top: 130px;
  left: 300px;

  width: 70%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #ffffff2d;
  color: #fff;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

  padding: 10px;
  margin: 10px auto;
  border-radius: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* #narrador{
  margin-bottom: 30px;
} */

.container__input1,
.container__input2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.container__input1 {
  margin-right: 15px;
}

.container__input2 {
  margin-left: 15px;
}

.container__input1,
.container__input2 {
  margin-bottom: 20px;
}

.form__control,
.form-select {
  /* width: 350px; */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.form__control__time{
  padding: 5px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.form__label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}


/* radio buttons */

.container_radio_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 5px;
  
  margin: 20px 0;

}

.radio-group {
  display: flex ;
  margin-bottom: 10px;
}

.form__radio__input {
  margin-right: 20px;
}


.radio-group input[type="radio"] {
  margin-right: 10px;
}

.radio-group label {
  margin: 10px;
  border-radius: 5px;
  /* display: inline-block; */
}

/* stilo de botones */
.button-container {
  display: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button__submit button,
.button__cancel button {
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 13px;

  background: linear-gradient(to top left, #01081d, #185a9d);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

  width: 100px;
  height: 30px;
  transition: background-color 0.3s;
}

.button__cancel,
.button__submit {
  margin-left: 20px;
  transition: all 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1;
}

.button__cancel button:hover,
.button__submit button:hover {
  background: #ffffff8f;
  color: #070064dc;
  transform: translate(0, -3px);
  box-shadow: 0 6px 12px #00000071;
  z-index: 2;
}

/* Estilo para cada contenedor de selección de archivos */
.container-files {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_file_left, .container_file_rigth{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container_file_left{
  padding-left: 5px;
}

.container_file_rigth {
  padding-left: 30px;
}

.file__chooser {
  display: flex;
  align-items: start; 
} 

.container_file_left .file__chooser,.container_file_rigth .file__chooser {
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 20px;
}



/* mensages de error */
.error-message{
  color:#810202;
  font-size: 13px;
}


/* Estilo para el contenedor de la ventana emergente */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}
/* Estilo para la ventana emergente */
.window__acept__or__error {
  display: flex;
  flex-direction: column;
  width: 242px;
  height: 160px;
  background: linear-gradient(to left, #43cea2, #185a9d);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.window__acept__or__error p{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
}

/* Estilo para el botón Verificar */
.button__verify, .button__ok {

  padding: 10px 20px;

  font-size: 13px;
  background: linear-gradient(to top left, #01081d, #185a9d);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

  width: 100px;
  height: 30px;

  cursor: pointer;
  transition: background-color 0.3s;
}

.button__verify:hover {
  background: #0978c2b0;
  color: #fff;
}

.button__ok:hover {
  background: #e90000a6;
  color: #fff;
}

/* pantalla de carga */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loading {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

.loader {
  border: 8px solid #f3f3f3; /* Estilo del círculo exterior */
  border-top: 8px solid #1f6bdd; /* Estilo del círculo superior (color de carga) */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Animación de rotación */
  margin: 0 auto; /* Centra el círculo horizontalmente */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Estilo para los tres puntos */
.loading-dots {
  font-size: 24px;
  
  animation: loading 1s infinite steps(4, end);
}

/* Animación de carga para los tres puntos */
@keyframes loading {
  
  0% {
    content: "Cargando. ";
  }
  33% {
    content: "Cargando.. ";
  }
  66% {
    content: "Cargando... ";
  }
  100% {
    content: "Cargando";
  }
}


