.logo {
  border-radius: 50%;
  padding-top: 0px;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 60px; 
  left: 20px; 
  z-index: 9999; 
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 10px 10px 15px 5px black;
}
.menu {
  font-family: Arial, Helvetica, sans-serif;

  width: 200px;

  background: radial-gradient(ellipse at bottom right, #647c74, #587a7c, #15242e,  #3a615e,#749e8a 80%);
  background-size: 150% 150%;
  background-position: top center;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);


  padding: 14px;
  position: fixed;
  top: 102px;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.header {
  position: fixed;
  height: 102px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; 


  background: radial-gradient(ellipse at right top, #647c74, #587a7c,#15242e,  #3a615e,#749e8a 80%);
  background-size: 150% 150%;
  background-position: top center;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);


  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.greeting {
 
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 600px;
  padding-left: 250px;
  display: inline-block;
  text-align: left;
  text-shadow: 4px 4px 10px black;
}
.greeting p {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
}

.content {
  margin-top: 120px; 
}
/* Estilos de los elementos del menú */
.menu__item {
  padding: 18px;
  cursor: pointer;
  border-radius:10px;
  transition: background-color 0.3s;
}

.menu__item:hover {
  background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);
}

body{
  background: radial-gradient(ellipse at bottom right, #647c74, #587a7c, #15242e,  #3a615e,#749e8a 80%);
  background-size: 150% 150%;
  background-position: top center;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
}

/* Estilos para resaltar el elemento "Inicio" como activo (se puede usar una clase adicional para esto) */
.menu__item--active {
  background-color: #43cea2;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  color:#ffffff;
  text-decoration: none;
} 

  /*--------------------------------------------------------------------------------------------------------------*/
  .container__search {
    display: none;
    /* display: absolute; */
    position: fixed;

    top: 17%;
    left: 15%;
    width: 83%;
    height: 75%;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    background-color: #0000007a;

    /* background: radial-gradient(ellipse at bottom right, #647c74, #587a7c, #15242e,  #3a615e,#749e8a 80%); */
    background-size: 150% 150%;
    background-position: top center;
    
    z-index: 1000;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.show-container {
  max-height: 100%; /* Ajusta la altura deseada */
}

#searchButton{
  text-align: center;
}

.container__search .header__c{
  color: #fff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.856);
  font-size: 24px;
}

.search__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;

    margin-bottom: 50px;

    background-color: #ffffff;
    border: 2px solid #000000;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 0 10px #000000c5;
}

.search {
  width: 90%;
  height: 37px;

  background-color: #fafafa;
  border-radius: 50px 0 0 50px; 
  color: #000000;
  border: none;
  padding-left: 20px;
  padding-right: 10px;
  transition: border 0.3s;
  
}

.search:focus {
  outline: none;
  border: none;
}

.search__button {
    background-color:  #fafafa;
    color: #000000;
    border: none;
    border-radius: 0 50px 50px 0;
    width: 10%;
    height: 37px;
    cursor: pointer;
}



.coincident__container {

    width: 100%;
    height: 80%;
    overflow: auto;

    background-color: #0000000a;
    border: 1px solid #ddd;
    overflow-y: auto;

    border-radius:5px;
    
}

.header__cards {
  width: 97.5%;
  max-width: 99%;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
  text-align: center;
  justify-content: center;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;

  padding-left: 75px;

}

.header__c,.card__c {
  flex-basis: 20%;
  margin: 0;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.card__c{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.856);
}

.card {
  width: 97.5%;
  max-width: 99%;
  margin-bottom: 5px;
  /* background-color: #27222294; */

  background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);

  color: white;
  text-align: center;
  justify-content: center;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;

  cursor:pointer;
}

.image {
  
  max-width: 100px;
  vertical-align: middle; 
}
.image img {
  border-radius:10px;
}

.mensaje-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
  .card {
      width: 100%;
      max-width: 99%;
      height: 90px;
      background-color:#00000073;
      margin:2px;
  } */



