.logo {
    border-radius: 50%;
    padding-top: 0px;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 60px; 
    left: 20px; 
    z-index: 9999; 
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 10px 10px 15px 5px black;
  }
  .menu {
    font-family: Arial, Helvetica, sans-serif;
  
    width: 200px;
    background: linear-gradient(to left bottom, #43cea2, #185a9d);
    color: #fff;
    padding: 14px;
    position: fixed;
    top: 102px;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
  }
  
  .header {
    position: fixed;
    height: 102px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Asegura que esté por delante de otros elementos */
    background: linear-gradient(to top left, #43cea2, #185a9d);
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .greeting {
   
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 600px;
    padding-left: 250px;
    display: inline-block;
    text-align: left;
    text-shadow: 4px 4px 10px black;
  }
  
  /* Estilos para el margen superior del contenido principal para dejar espacio para el encabezado */
  .content {
    margin-top: 120px; /* Ajusta la altura del encabezado más un margen */
  }
  /* Estilos de los elementos del menú */
  .menu__item {
    padding: 18px;
    cursor: pointer;
    border-radius:10px;
    transition: background-color 0.3s;
  }
  
  .menu__item:hover {
    background: linear-gradient(to top left, #01081d, #185a9d);
    /* background-color:#01081d; */
  }
  
  /* Estilos para resaltar el elemento "Inicio" como activo (se puede usar una clase adicional para esto) */
  .menu__item--active {
    background-color: #43cea2;
  }
  
  a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#ffffff;
    text-decoration: none;
  }
  /*--------------------------------------------------------------------------------------------------------------*/
  .container__search {
    display: fixed; /* Inicialmente oculto */
    position: fixed;
    top: 18%;
    left: 24%;
    width: 70%;
    height: 70%;
    background-color: #00000052; /* Fondo oscuro semi-transparente */
    z-index: 1000; /* Para asegurarse de que esté por encima del resto del contenido */
}

.search__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #2222223a; /* Color oscuro */
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.856);
    color: #fff; /* Texto blanco */
}

.search {
    width: 80%;
    height: 50px;
    background-color: #333; /* Color de fondo más oscuro */
    border: 1px solid #555;
    border-radius: 50px;
    color: #fff; /* Texto blanco */
}

.search__button {
    background-color: #007bff; /* Azul claro */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 50%; /* Forma redonda */
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.coincident__container {
    display: none;
    max-width: 1000px;
    max-height: 800px;
    overflow: auto;
    /* background-color: #fff;
    border: 1px solid #ddd; */ 
    padding: 10px;
}
