/*----------------------------------------- body------------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
/*  contenedor de todo el favorito*/

.contenedor_todo {
    flex-direction: row;
    display: flex;
	position: fixed;
	top: 102px;
	left: 200px;
	width: 95%;
	height: 95%;
	background: radial-gradient(ellipse at bottom, #647c74, #587a7c, #15242e, #3a615e, #749e8a, #15242e 80%);
	background-size: 150% 150%;
	background-position: top center;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	overflow-y: scroll;

	scroll-behavior: scroll;

	border-radius: 5px;
	box-shadow: 0px 1px 10px
}
/*  contenedor del el favorito de la carta*/

.container-favorito {
	width: auto;
	height: auto;
	/* width: 60%;
	height: 70%; */
	/* max-width: 900px; */
	margin: 60px;
    margin-left: 50px;
    margin-right: 1px;
	top: auto;
	font-family: Arial, Helvetica, sans-serif;


	flex-direction: column;
	display: flex;

}
/*  titulo de los favoritos*/
.titulo-favorito {
	width: 100%;
	/* max-width: 108px; */
	/* margin: auto;
	padding: 20px; */
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: left;
	color: #7a7a7a;
	font-size: 18;

}
/*sub titulo del favorito*/
.subTitu-Favorito {
	text-shadow: 2px 1.5px #3b6cac;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
	text-align: start;

}

.card,
.card1 {
	width: 100%;
	overflow-x: auto;
	/* white-space: nowrap; */
	flex-wrap: wrap;
	display: flex;
	gap: 25px;
	background-color: #00000052;
	padding: 20px;

}


.carta img {
	width: 100%;
	height: 210px;

	text-align: center;
}

.carta .contenido-card {
	padding: 15px;
	text-align: center;
}

.carta .contenido-card h3 {
	margin-bottom: 15px;
	color: #131212;
	overflow-x: hidden;
}

.carta .contenido-card p {
	line-height: 1.8;
	color: #0c0c0c;
	font-size: 14px;
	margin-bottom: 5px;
}


@media only screen and (min-width:320px) and (max-width:768px) {
	.container-card {
		flex-wrap: wrap;
	}

	.card,
	.card1 {
		margin: 15px;
	}
}


.carta {
	width: 30%;
	height: 100%;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: all 400ms ease-out;
	cursor: pointer;


	/* width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: all 400ms ease-out;
	cursor: default;
	flex-direction: column;
	display: flex;
	transition: all 0.2s;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); */

}

.carta:hover {
	transform: translate(0, -3px);
	box-shadow: 0 6px 12px #00000071;
}

button {
	align-items: center;
	background: #c5eeff;
	border: 0;
	border-radius: 30px;
	box-shadow: rgba(3, 39, 78, 0.2) 0 15px 10px -5px;
	box-sizing: border-box;
	color: #000;

	font-family: Phantomsans, sans-serif;
	font-size: 25px;
	justify-content: center;
	line-height: 1em;
	max-width: 100%;
	min-width: 50px;
	padding: 3px;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	cursor: pointer;
	transition: all .3s;
	padding-top: 5px;
	padding-bottom: 5px
}

button:hover {
	scale: 0.95
}

button:active {
	scale: 0.9
}

.text {
	color: #02360a;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 5em 0;
}