/*-------------------------------------------------MisListas-------------------------------------------------------------*/

#contenedor {
  padding: 14px;
  margin-left: 1%;
  position: fixed;
  top: 107px;
  left: 208px;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: radial-gradient(ellipse at bottom, #647c74, #587a7c, #15242e, #3a615e, #749e8a, #15242e 80%);
  background-size: 150% 150%;
  background-position: top center;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
  display: block;
}

.titleList {
  position: relative;
  left: 195px;
  top: -75px;
  width: 200px;
  height: 45px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;

}

.iconList {
  position: relative;
  left: 90px;
  top: 10px;
  width: 90px;
}




#newList {
  width: 32px;
  height: 32px;
  position: relative;
  top: -120px;
  left: 78%;
  background: #00000000;
  border: #00000000;
}

#newList:hover {
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 1px 1px 30px rgba(12, 74, 131, 0.925)
}

.container_list {
  border-radius: 4%;
  background-color: #ffffff2d;
  position: relative;
  top: -70px;
  left: 5%;
  width: 77%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 72%;
  overflow: hidden;
  overflow-y: scroll;


}

.list {
  border-radius: 4%;
  background-color: #ffffff2d;
  position: relative;
  margin-top: 20px;
  left: 5%;
  width: 89%;
  height: 90px;
  display: flex;
}

.list:hover {
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);
}

.imageList {
  position: relative;
  top: 15px;
  left: 2%;
  height: 50px;
  border-radius: 50%;
}

.imageList:hover {
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.925)
}

.titleLi {
  position: relative;
  left: 8%;
}

.Audios {
  position: relative;
  left: 200px;

}

.number {
  position: relative;
  left: 220px;
}

.deleteC {
  position: relative;
  height: 40px;
  left: 500px;
  top: 20px;
  background-color: #ffffff2d;
  border: #ffffff2d;
  border-radius: 50%;
}

.deleteC:hover {
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 1px 1px 18px rgba(255, 255, 255, 0.925)
}