.logo {
	border-radius: 50%;
	padding-top: 0px;
	height: 150px;
	width: 150px;
	position: absolute;
	top: 60px;
	left: 20px;
	z-index: 9999;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 10px 10px 15px 5px black;
}

#menu {
	font-family: Arial, Helvetica, sans-serif;

	width: 200px;
	height: 100%;
	/* background: linear-gradient(to left bottom, #43cea2, #185a9d); */

	background: radial-gradient(ellipse at bottom right, #647c74, #587a7c, #15242e, #3a615e, #749e8a 80%);
	background-size: 150% 150%;
	background-position: top center;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);

	padding: 14px;
	position: fixed;
	top: 102px;
	left: 0;
	display: flex;
	flex-direction: column;
}

#header {
	position: fixed;
	height: 102px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	background: radial-gradient(ellipse at right top, #647c74, #587a7c, #15242e, #3a615e, #749e8a 80%);
	background-size: 150% 150%;
	background-position: top center;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.titleRan {
  position: fixed;
  top: 20px;
  left: 250px;
}

.greeting  {

	font-family: Arial, Helvetica, sans-serif;
	padding-right: 600px;
	padding-left: 250px;
	display: inline-block;
	text-align: left;
	text-shadow: 4px 4px 10px black;
}

.greeting {
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
}

/* Estilos para el margen superior del contenido principal para dejar espacio para el encabezado */
.content {
	margin-top: 120px;
	/* Ajusta la altura del encabezado más un margen */
}

/* Estilos de los elementos del menú */
.menu__item {
	padding: 18px;
	cursor: pointer;
	border-radius: 10px;
	transition: background-color 0.3s;
}

.menu__item:hover {
	/* background: linear-gradient(to top left, #01081d, #185a9d); */
	background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);
	/* background-color:#01081d; */
}

/* Estilos para resaltar el elemento "Inicio" como activo (se puede usar una clase adicional para esto) */
.menu__item--active {
	background-color: #43cea2;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}

.sesion {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 23px;
    left: 90%;
    display: inline-block;
    box-sizing: border-box;
}

.sesion:hover {
    cursor: pointer;
    transition: background-color 0.3s;
    background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);
    border-radius: 50%;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.856);
}

#sesionMenu {
	position: fixed;
	top: 95px;
	left: 84%;
	width: 150px;
	height: 145px;
	font-size: 16;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	padding: 5px;
	cursor: pointer;
	border-radius: 10px;
	transition: background-color 0.3s;
	text-decoration: none;
	background: radial-gradient(ellipse at right top, #647c74, #587a7c, #15242e, #3a615e, #749e8a 80%);
}

#sesionSalir {
	background-color: #01081d;
}

#opciones {
	padding: 18px;
	cursor: pointer;
	border-radius: 10px;
}

#opciones:hover {
	padding: 18px;
	cursor: pointer;
	border-radius: 10px;
	transition: background-color 0.3s;
	background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);
}
/***********************************************Perfil******************************************************/

#imageUsu{
  position: fixed;
  top: 107px;
  left: 200px;
  width: 90%;
  height: 89%;
}

.contPerfil{
  font-family: Arial, Helvetica, sans-serif;

  top: 107px;
  left: 208px;
  background: radial-gradient(ellipse at bottom, #647c74, #587a7c, #15242e, #3a615e, #749e8a, #15242e 80%);
  background-size: 150% 150%;
  background-position: top center;
  color: #fff;
  position: fixed;
  flex-direction: column;
  top: 102px;
  left: 200px;
  width: 100%;
  height: 100%;
}

.container{
  width: 90%;
  height: 30%;
  margin-top: 0%;
  display: flex;
  flex-direction: row;
}

.imagenPerfil{
  position: fixed;
  background : linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0, 0.5));
  width: 500px;
  height: 320px;
  top: 15%;
  left: 40%;
  border: 5px solid #151515;
  overflow: hidden;
}
.datos{
  position: relative;
  width: 400px;
  height: 140px;
  top: 0%;
  left: 28%;
}

#imageUsuario{
  position: relative;
  width: 160px;
  top: 2%;
  height: 160px;
  left: 32%;
  border-radius: 50%; 

}
.nombre{
  position: relative;
  top: -45%;
  left: 50%;
  overflow: hidden;

}
#edit{
  color: white;  
}

#edit:hover{
  cursor: pointer;
  transition: background-color 0.3s;  
  box-shadow: 1px 1px 20px rgb(255, 255, 255)
}
.buttonEditar{
  background: rgba(255, 255, 255, 0);
  position: relative;
  width: 52px;
  height: 48px;
  top: -40%;
  left: 65%;
}
.container i {
position: absolute;
width: 2px;
height: 10px;
top: -10px;
background: #d3d3d3;
animation: rain linear infinite;
}

@keyframes rain {
0% {
    top: -10px;
}
100% {
    top: 100vh;
}
}

.titleChage{
  position: relative;
  top: -20px;
}
button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 50%;
}

#profilePicture:hover {
  cursor: pointer;
  transition: background-color 0.3s;  
  box-shadow: 1px 1px 20px rgb(255, 255, 255)
}

.titleChage{
  position: relative;
  left: 35%;
}

.button__submit{
  position: relative;
  left: 80%;
  top: -10px;
  width: 100px;
}
#submitButton:hover{
    cursor: pointer;
    border-radius:10px;
    transition: background-color 0.3s;
    border: 4px 4px 10px rgba(3, 3, 3, 0.595);
    box-shadow: 1px 1px 18px rgba(255, 255, 255, 0.925)


}

.button__cancel{
  position: relative;
  left: 69%;
  top: 25px;
  width: 95px;
}
#cancelButton:hover{
    cursor: pointer;
    border-radius:10px;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 18px rgba(255, 255, 255, 0.925)

}

#userProfileEditar{
  
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;

  left: 30%;
  padding: 30px;
  top: 52%;
  width: 44%;
  height: 38%;
  box-shadow: 1px 1px 18px rgba(255, 255, 255, 0.925);
  display: none;

}
#profilePicture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.form__label{
  font-size: 20px;
}
.containerImages{
  display: flex;
  overflow: hidden;
  overflow-x: scroll;

}
.containerImages::-webkit-scrollbar{
  width: 3px;

}
.containerImages::-webkit-scrollbar-thumb{
  box-shadow: 1px 1px 18px rgba(255, 255, 255, 0.925);
}

/*-------------------------------------------------BUSCADOR-------------------------------------------------------------*/
.container__search {
	display: none;
	/* display: absolute; */
	position: fixed;

	top: 13%;
	left: 14%;
	width: 83%;
	height: 80%;

	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	background-color: #0000007a;

	/* background: radial-gradient(ellipse at bottom right, #647c74, #587a7c, #15242e,  #3a615e,#749e8a 80%); */
	background-size: 150% 150%;
	background-position: top center;

	z-index: 1000;

	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease;
}

.show-container {
	max-height: 100%;
	/* Ajusta la altura deseada */
}

.searchButton {
	padding: 18px;
	cursor: pointer;
	border-radius: 10px;
	transition: background-color 0.3s;
	text-align: center;
}


.searchButton:hover {
	background: linear-gradient(to top left, #01081d, #185a9d);
}


.container__search .header__c {
	color: #fff;
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.856);
	font-size: 24px;
}

.search__content {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 8%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;

	margin-bottom: 50px;

	background-color: #ffffff;
	border: 2px solid #000000;
	text-decoration: none;
	border-radius: 50px;
	box-shadow: 0 0 10px #000000c5;
}

.search {
	width: 90%;
	height: 37px;

	background-color: #fafafa;
	border-radius: 50px 0 0 50px;
	color: #000000;
	border: none;
	padding-left: 20px;
	padding-right: 10px;
	transition: border 0.3s;

}

.search:focus {
	outline: none;
	border: none;
}

.search__button {
	background-color: #fafafa;
	color: #000000;
	border: none;
	border-radius: 0 50px 50px 0;
	width: 10%;
	height: 37px;
	cursor: pointer;
}



.coincident__container {

	width: 100%;
	height: 80%;
	overflow: auto;

	background-color: #0000000a;
	border: 1px solid #ddd;
	overflow-y: auto;

	border-radius: 5px;

}

.header__cards {
	width: 97.5%;
	max-width: 99%;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
	text-align: center;
	justify-content: center;
	padding: 10px;
	display: flex;
	align-items: center;
	font-size: 16px;

	padding-left: 75px;

}

.header__c {
	flex-basis: 30%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-left: 100px;  */
}

.card__c {
	flex-basis: 30%;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 120px;
}

.card__c {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.856);
}

.card__s {
	max-width: 100%;
	margin-bottom: 5px;

	background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);

	color: white;
	text-align: center;
	justify-content: center;
	padding: 10px;
	display: flex;
	align-items: center;
	font-size: 16px;

	cursor: pointer;
}



.mensaje-error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #ffffff;
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.856);
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
}

.resaltado {
	background-color: #00aff579;
}