.logo {
  border-radius: 50%;
  padding-top: 0px;
  height: 150px;
  width: 150px;
  position: absolute;
  top:3%; 
  left: 2%; 
  z-index: 9999;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 10px 10px 15px 5px black;
}
.sesion{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 23px;
  left: 90%;
  display: inline-block;
  box-sizing: border-box;
}
.sesion:hover{
  cursor: pointer;
  transition: background-color 0.3s;
  background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);
  border-radius: 50%;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.856); 
}

.menu {  
  font-family: Arial, Helvetica, sans-serif;  
  width: 220px;  
  padding: 14px;
  position: fixed;
  top: 102px;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
    /* justify-content: ; */
  background: radial-gradient(ellipse at bottom right, #647c74, #587a7c, #15242e,  #3a615e,#749e8a 80%);
  background-size: 150% 150%;
  background-position: top center;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Asegura que esté por delante de otros elementos */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9998;
  background: radial-gradient(ellipse at right top, #647c74, #587a7c,#15242e,  #3a615e,#749e8a 80%);
  background-size: 150% 150%;
  background-position: top center;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
}

.greeting {  
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
 
  padding-right: 600px;
  padding-left: 250px;
  display: inline-block;
  text-align: left;
  text-shadow: 4px 4px 10px black;
}

/* Estilos para el margen superior del contenido principal para dejar espacio para el encabezado */
.content {
  margin-top: 120px;
  /* Ajusta la altura del encabezado más un margen */
}

/* Estilos de los elementos del menú */
.menu__item {
  padding: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.menu__item:hover {
  background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);
}

/* Estilos para resaltar el elemento "Inicio" como activo (se puede usar una clase adicional para esto) */
.menu__item--active {
  background-color: #43cea2;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
#sesionMenu{
  position: fixed;  
  top: 95px;
  left: 90%;
  width: 150px;
  height: 150px;
  font-size: 16;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  padding: 5px;
  cursor: pointer;
  border-radius:10px;
  transition: background-color 0.3s;
  text-decoration: none;
  background: radial-gradient(ellipse at right top, #647c74, #587a7c,#15242e,  #3a615e,#749e8a 80%);
}
#sesionSalir{
  background-color: #01081d;
}
#opciones{
  padding: 18px;
  cursor: pointer;
  border-radius:10px;
 }
#opciones:hover{
  padding: 18px;
  cursor: pointer;
  border-radius:10px;
  transition: background-color 0.3s;
  background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);
}
#tipo__audioAdm{
  color: white;
}


/*******************************************************Reproductor**********************************************************/


.play {
  top: 107px;
  left: 208px;
  background: radial-gradient(ellipse at bottom, #647c74, #587a7c, #15242e, #3a615e, #749e8a, #15242e 80%);
  background-size: 150% 150%;
  background-position: top center;
  color: #fff;
  position: fixed;
  flex-direction: column;
  top: 102px;
  left: 200px;
  width: 75%;
  height: 100%;
}

p {
  color: #01081d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: justify;
}

.container-card {
  background: radial-gradient(ellipse at bottom, #647c74, #587a7c, #15242e, #3a615e, #749e8a, #15242e 80%);
  background-size: 150% 150%;
  background-position: top center;
  color: #fff;
  overflow: hidden;
  overflow-y: scroll;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);
  position: fixed;
  top: 12%;
  left: 82%;
  width: 20%;
  height: 88%;  
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 45);
  font-family: Arial, Helvetica, sans-serif;
}

.caja {
  display: flex;
  flex-direction: row;
  margin: 1%;
  padding: 5px;
}

.imagen {
  margin-top: 5%;
  margin-left: 8%;
  padding-left: 129px;
}


.descripcion {
  margin-top: 3%;
  margin-left: 3%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}



.contenedor {
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  max-width: 60%;
  margin: auto;
  margin-top: 2%;
  background: #ffff;
  padding: 15px;
  height: 200px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 45);
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.card {
  margin-top: 8%;
  margin-left: 0%;
}

.__container_audio {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* min-height: 70vh; */
}

.audio {
  text-align: center;
}

#imagenesCard:hover{
  cursor: pointer;
  transition: background-color 0.3s;  
  box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.925)
}

/*---------------------------------------------------------- share, favorites and add-----------------------------------------------*/
/* Encinas Quispe Jhonatan */


.__button_favorites,
.__button_add_list,
.__button_share {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;
  font-size: 32px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
}

.__button_favorites i,
.__button_add_list i,
.__button_share i {
  margin-right: 5px;
}

.__button_favorites:hover {
  color: #810202;
  z-index: 2;
}

.__button_add_list:hover {
  color: #0a0909;
  z-index: 2;
}

.__button_share:hover {
  color: #027281;
  z-index: 2;
}

/* popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilo para la ventana emergente */
.__share__content {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 700px;
  height: 300px;
  background: radial-gradient(ellipse at bottom right, #647c74, #587a7c, #15242e, #3a615e, #749e8a 80%);
  background-size: 150% 150%;
  background-position: top center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.856);

}

.__share__content{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;

  /* align-self: flex-start; */
  margin: 0;
  margin-bottom: 60px;
}


.__link__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.__link__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.__link__content .__link__share {
  /* white-space: nowrap; */
  /* Evita el salto de línea automático */
  /* Permite el desbordamiento y agrega una barra de desplazamiento si es necesario */
  width: 400px;
  min-height: 30px;
  /* Altura mínima, ajusta según sea necesario */
  max-height: none;
  /* Permite que la altura crezca según el contenido */
  margin: auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #01081d;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #070707;
}

.button__cancel,
.button__copy {

  padding: 10px 20px;
  font-size: 13px;
  background: radial-gradient(ellipse at left top, #01081d, #011c38 80%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

  width: 100px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button__copy:hover {
  background: #0978c2b0;
  color: #fff;
}

.button__cancel:hover {
  background: #e90000a6;
  color: #fff;
}


/* icons social networks */

.__social_networks {
  align-items: center;
  justify-content: center;
  position: relative;
  top: -60px;
}

.__social_networks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.marca{
  position: relative;
  top: -35px;
  height: 15px;
  color: white;
}

.titleSocial{
  position: relative;
  top: -70px;
  height: 20px;
}
.__social_networks ul li {
  width: 75px;
  height: 75px;
  line-height: 90px;
  margin: 0 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #d8e2dc;
  float: left;
  transition: all 0.5s ease;
}

.__social_networks ul li .fa-facebook,
.__social_networks ul li .fa-whatsapp,
.__social_networks ul li .fa-envelope {
  font-size: 35px;
}

.__social_networks ul li .facebook {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.__social_networks ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.__social_networks ul li:hover .fa-facebook {
  color: #3b5998;
  transition: all 0.5s ease;
}

.__social_networks ul li .whatsapp {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.__social_networks ul li:hover.whatsapp {
  border: 5px solid #017c08;
  box-shadow: 0 0 15px #017c08;
  transition: all 0.5s ease;
}

.__social_networks ul li:hover .fa-whatsapp {
  color: #017c08;
  transition: all 0.5s ease;
}

.__social_networks ul li .gmail {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.__social_networks ul li:hover.gmail {
  border: 5px solid #520404;
  box-shadow: 0 0 15px #520404;
  transition: all 0.5s ease;
}

.__social_networks ul li:hover .fa-envelope {
  color: #520404;
  transition: all 0.5s ease;
}