
/* Estilos para el espacio del logo */
.logo-container {
    border-radius: 50%; /* Hace que el espacio del logo sea completamente redondo */
    background-color: #fff; /* Color de fondo para el espacio del logo */
    width: 100px; /* Ancho del espacio del logo */
    height: 100px; /* Alto del espacio del logo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    max-width: 100%; /* Ajusta el tamaño del logo al espacio redondo */
    max-height: 100%; /* Ajusta el tamaño del logo al espacio redondo */
}
/* Agrega otros estilos según tus necesidades */


/* Estilos para centrar el contenido en la página de recuperar contraseña */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('tu-fondo.jpg'); /* Cambia 'tu-fondo.jpg' por la URL de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo con transparencia */
    border: 2px solid #ccc; /* Bordes más notorios */
    border-radius: 15px 15px 0 0; /* Borde redondeado más pronunciado en la parte superior */
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Sombra más notoria */
    display: flex;
    flex-direction: column;
    align-items: center;
}


