.logo {
  border-radius: 50%;
  padding-top: 0px;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 3%; 
  left: 4%; 
  z-index: 9999;
  display: inline-block;
  box-sizing: border-box;
}

#confirmacion{
  padding-left: 15px;
  color: #ffffff;
  height: 80px;
  width: 300px;
  font-size: 16;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%; 
  left: 50%; 
  display: none;
  background: linear-gradient(to left bottom, #43cea2, #185a9d);

  .texto{
    color: #0000;
  }
  .boton{
    position: absolute;
    left: 71%;
  }
  .botonL{
    position: absolute;
    left: 71%;
    display: none;
  }
}

#menu {  
  font-family: Arial, Helvetica, sans-serif;  
  width: 200px;
  background: linear-gradient(to left bottom, #43cea2, #185a9d);
  color: #fff;
  padding: 14px;
  position: fixed;
  top: 102px;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
    /* justify-content: ; */
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Asegura que esté por delante de otros elementos */
  background: linear-gradient(to top left, #43cea2, #185a9d);
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9998;
}

.greeting {  
  font-family: Arial, Helvetica, sans-serif; 
  padding-right: 600px;
  padding-left: 250px;
  display: inline-block;
  text-align: left;
  text-shadow: 4px 4px 10px black;
}

/* Estilos para el margen superior del contenido principal para dejar espacio para el encabezado */
.content {
  margin-top: 120px;
}
.menu__item {
  padding: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius:10px;
  /* font-size: 20px; */
  color: #ffffff;
}

.menu__item:hover {
  background: linear-gradient(to top left, #01081d, #185a9d);
  /* background-color: #ffffff6e; */
  
}

/* Estilos para resaltar el elemento "Inicio" como activo (se puede usar una clase adicional para esto) */
.menu__item--active {
  background: linear-gradient(to right,#43cea2, #185a9d);
}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color:#ffffff;
  text-decoration: none;
}

#page-content {
  position: fixed;
  top: 102px;
  left: 227px;

  width: 89%;
  height: 89%;  
  background: linear-gradient(to right, #43cea2, #185a9d);  
}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

#contenedor{
    background: linear-gradient(to left, #43cea2, #185a9d);
    padding: 14px;
    margin-left: 1%;
    position: fixed;
    top: 107px;
    left: 208px;
    height: 100%;
    width: 100%;     
    padding: 10px;    
}  


img{
    width: 90px;
    height: 90px;
    left: 2%;
    top: 1%;
}  

h2{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}
 
#camp{
  display: block;
}  



.scrollDiv{
  border-radius: 4%;
  background: linear-gradient(to right, #8e9290, #9dbdde);
  background-repeat: no-repeat;
  position: relative;
  top: 3%;
  left: 4%;
  width: 37%;
  height: 75%;
  overflow: hidden;
  overflow-y: scroll;
} 

.DosScrollDiv{
  border-radius: 4%;

  background: linear-gradient(to right, #43cea2, #185a9d);
  position: relative;
  z-index: 2;
  top: -72%;
  left: 45%;
  width: 37%;
  height: 75%;
  overflow: hidden;
  overflow-y: scroll;
}

.Object{
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}  

#contenidoUno{
  position: absolute;
  top: 11%;
  left: 55%;
}
#contenidoDos{
  position: absolute;
  top: 23%;
  left: 25%;
}
#contenidoTres{
  position: absolute;
  top: 37%;
  left: 25%;
}
#contenidoCuatro{
  position: absolute;
  top: 51%;
  left: 25%;
}

#iconoUno{
  position: absolute;
  right:11%;
  top: 14%;
}

#iconoDos{
  position: absolute;
  right:11%;
  top: 28%;
}

#iconoTres{
  position: absolute;
  right:11%;
  top: 42%;
}

#iconoCuatro{
  position: absolute;
  right:11%;
  top: 55%;
} 
/*#campL1{
  position: fixed; 
  width: 90%;
  height: 100px;
  background-color: #185a9d;
}
#campL2{
  position: fixed;  
  width: 90%;
  height: 100px;
  background-color: #185a9d; 
  top: 50px;
}
#campL3{
  position: fixed;  
  width: 90%;
  height: 100px;
  background-color: #185a9d;
}
#campL4{
  position: fixed; 
  width: 90%;
  height: 100px;
  background-color: #185a9d; 
}
#campC1{
  position: fixed;
  width: 90%;
  height: 100px;
  background-color: #185a9d;  
}
#campC2{
  position: fixed;
  width: 90%;
  height: 100px;
  background-color: #185a9d;  
}
#campC3{
  position: fixed;
  width: 90%;
  height: 100px;
  background-color: #185a9d;  
}
#campC4{
  position: fixed; 
  width: 90%;
  height: 100px;
  background-color: #185a9d; 
}